<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

    <!-- Maria's one -->
    <li class="collection-item">
      
    <div>
        ${room.room_name}
        
        <a class="deleteRoomButton secondary-content"
          data-id="${room.id}">
          <i class="material-icons grey-text text-darken-3"
            >delete_outline</i>
        </a>
        
        <a href="/room/${room.route_name}" class="secondary-content"
          ><i class="material-icons grey-text text-darken-3">launch</i></a
        >
      </div>
    </li>
  </body>
</html>


<!-- my current one -->
<li class="collection-item">
      
    <div>
        ${room.room_name}
        
        <a data-target="modal${room.id}" class="modal-trigger secondary-content" id="deleteRooms${room.id}">
          <i class="material-icons grey-text text-darken-3"
            >delete_outline</i>
        </a>
        
        <a href="/room/${room.route_name}" class="secondary-content"
          ><i class="material-icons grey-text text-darken-3">launch</i></a
        >
      </div>
      <!-- modal structure -->
      <div id="modal${room.id}" class="modal"></div>
        <div class="modal-content">
          <h4>Delete This Room?</h4>
          <p>Are you sure you want to delete this room? This action cannot be reversed. All message content will be erased.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="deleteRoomButton button" data-id="${room.id}" id="finalDeleteButton">Final Delete Room</button>
        </div>
      </div>
    </li>
  </body>
</html>


<!-- my original one -->
<li class="collection-item">
    <div>
      ${room.room_name}<button
        class="modal-trigger secondary-content"
        id="deleteRoom${room.id}"
        
        ><i class="material-icons grey-text text-darken-3"
          >delete_outline</i></button>
        <a href="/room/${room.route_name}" class="secondary-content"
        ><i class="material-icons grey-text text-darken-3">launch</i></a
      >
    </div>
  </li>
  <div id="modal${room.id}" class="modal">
    <div class="modal-content"><h4>Delete Room</h4></div>
  </div>
</body>
</html>

data-id="${room.id}"