{{!-- this part is the drawing box with the cursor divs --}}
{{!-- <div class = "row">
         <div class = "col m4 l3">
            <h5>Current Drawer</h5>
         </div>
    </div> --}}

<div class="row">
  <form class="col s12" id="send-container">
    <div class="row">
      <div class="col m9 blue lighten-2 center">
        <div id="cursors"></div>
        <canvas id="paper" width="1200" height="1000"></canvas>
      </div>
      {{!-- chat box --}}
      <div class="input-field col m3 center" id="message-container">
        <div id="message-container">
          <form id="send-container">
            <h4>Chat</h4>
            <input placeholder="Type message.." id="message-input"></input>
            <a class="waves-effect waves-light btn">Send</a>
            <a class="waves-effect waves-light btn">Cancel</a>
            {{!-- <button type="submit" class="btn" id="send-button">Send</button>
            <button type="cancel" class="cancel-btn" id="cancel-button">Cancel</button> --}}
            {{!-- <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button> --}}
          </form>
        </div>
      </div>
  </form>
</div>


<div class="row">
  <div class="col m4 l3">
    <h5>Score:</h5>
  </div>
</div>
<!--Footer-->

<footer class="page-footer blue lighten-2">
  <div class="container">
    <div class="row">
      <div class="col l5 s12">
        <h5 class="white-text">DIMM</h5>
        <p class="grey-text text-lighten-4">Have a good time with your friends!</p>
      </div>
      <div class="col l5 offset-14 s12">
        <h6 class="white-text">Built With:</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://materializecss.com/" target="_blank">Materialize</a>
          </li>
          <li><a class="grey-text text-lighten-3" href="" target="_blank"><i class="fa fa-github"
                style="font-size:24px"></i></a></li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h6 class="white-text">Created by:</h6>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/domjparker" target="_blank">Dominic
              Parker</i></a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/maria-helbling" target="_blank">Maria
              Helbling</i></a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/MegaGrega" target="_blank">Matthew
              Grega</i></a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/indyminhas" target="_blank">Indy</i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © Copyright 2020 DIMM
    </div>
  </div>
</footer>


<script src="/assets/js/gamewindow.js"></script>






{{!--<div id="message-container">
    <form id="send-container">
        <input type="text" name="chat" id="message-input" placeholder="Enter Username Here">
        <button type="submit" id="send-button">Send</button>
    </form>
</div>--}}