<link rel="stylesheet" href="/assets/css/gamewindow.css">

<body class="bodyGameWindow" id="body1">

  <nav>
    {{!-- need to insert the specific room name here --}}
    <div class="nav-wrapper blue lighten-2">
      <a href="#home" id="room-heading" class="brand-logo center white-text header-title hide-on-med-and-down"></a>
      <ul class="left">
        <li><a href="/user"><i class="tooltipped material-icons" data-position="right" data-tooltip="Profile Page">person_outline</i></a></li>
      </ul>
      <ul class="right">
        <li><a href="/logout"><i class="tooltipped material-icons" data-position="left" data-tooltip="Logout">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>

  <input type="hidden" value={{routename}} id="room">


  <main class="container">
    <div class="row topStuff">
      <div class="col s12 topStuff">
        {{!-- Game Info is hidden while the game is not running --}}
        <div class="row topStuff">
          <div class="col m9 topStuff blah">
            <div class="row valign-wrapper gameView" id="gameArea">
              <div class="col m8 borderblue blahblahblah" id="startbtndiv">
                <button id="Game-Start-Button" class="btn grey-text text-darken-2">Play</button>
              </div>
              <div class="col m8 borderblue" id="roundsdiv">
                <input type="number" name="rounds" id="roundsinput" value="3" min="1" max="10">
              </div>
              <div class="col m8 borderblue" id="roundsdiv2">
                <p> rounds</p>
              </div>
              <div class="col m8" id="current-drawer">
              </div>
              <div class="col m8" id="word">
              </div>
              <div class="col m4">
              </div>

            </div>
            <div class="row align-wrapper topStuff">
              <div class="input-field col s12 topStuff">
                <canvas class="right" id="paper" width="960" height="500"></canvas>
                <div class="center col s12 m12 l12" id="color-stroke-bar">
                  <button class="btn-floating color-choice btn-small" data-color='#000000' id='black-button'></button>
                  <button class="btn-floating color-choice red btn-small" data-color='#FF0000' id='red-button'></button>
                  <button class="btn-floating color-choice btn-small" data-color='#0000ff' id='blue-button'></button>
                  <button class="btn-floating color-choice btn-small" data-color='#008000' id='green-button'></button>
                  <button class="btn-floating color-choice btn-small" data-color='#ffff00' id='yellow-button'></button>
                  <button class="btn-floating color-choice btn-small" data-color='#ffffff' id='white-button'></button>
                  <button class="btn-floating stroke-choice btn-large" data-stroke='30'></button>
                  <button class="btn-floating stroke-choice " data-stroke='15'></button>
                  <button class="btn-floating stroke-choice btn-small" data-stroke='5'></button>
                </div>

              </div>
            </div>
          </div>

          {{!-- chat box --}}
          <div class="input-field col m3 center chatWindow">
            <div class="scores">
              <h5 class="scoreHeading">To Play Game</h5>
              <h5 class="scoreHeading"> Select Total Rounds</h5>
              <h5 class="scoreHeading">Hit Start Button!</h5>
            </div>
            <div id="message-container" class="messageContainer">
            </div>
            <form id="send-container">
              <input placeholder="Type message.." id="message-input"></input>
              {{!-- <button type="submit" class="btn" id="send-button button">Send <i class="fa fa-pencil"
                  style="font-size:14px"></i></button> --}}
            </form>
          </div>
        </div>


        {{!-- Shareable link copy paste --}}
        <div class="row copyContainer">
          <input type="button" class="btn grey-text text-darken-2" id="copy-button" value="Copy Url" onclick="Copy();" />
          <textarea id="paste-box" rows="1"></textarea>
        </div>
      </div>
    </div>

  </main>

  <!-- Modal Trigger -->
  <a id="modal-activator" class="waves-effect waves-light btn modal-trigger modal-close black-text"
    href="#modal2">Modal</a>

  {{!-- Modal for Game Win --}}
  <div id="modal2" class="modal">
    <div class="modal-content">
      <span class="scores1"></span>
    </div>
  </div>

  <!--Footer-->
  <footer class="page-footer blue lighten-2">
    <div class="pcontainer">
      <div class="row">
        <div class="col s12 m4 l4 center">
          <h5 class="grey-text text-darken-2">DrawScape <i class="fa fa-pencil" style="font-size:24px"></i></h5>
          <p class="white-text">Draw away with your friends!</p>
        </div>
        <div class="col s6 m4 l4 offset-14 center">
          <h6 class="grey-text text-darken-2">Built With:</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://materializecss.com/" target="_blank">Materialize</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://socket.io/" target="_blank">Socket.io</a></li>
            <li><a class="grey-text text-lighten-3" href="https://createjs.com/" target="_blank">Create.js</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/indyminhas/project2" target="_blank"><i
                  class="fa fa-github" style="font-size:24px"></i></a></li>
          </ul>
        </div>
        <div class="col s6 m4 l4 center">
          <h6 class="grey-text text-darken-2">Created by:</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/domjparker" target="_blank">Dominic
                Parker</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/maria-helbling" target="_blank">Maria
                Helbling</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/MegaGrega" target="_blank">Matthew
                Grega</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/indyminhas" target="_blank">Indy
                Minhas</i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-copyright grey-text text-darken-2">
        <div class="pcontainer">
          <div class="copyright">© Copyright 2020 DrawScape</div>
        </div>
      </div>
  </footer>



  <script src="/assets/js/gamewindow.js"></script>
  <script src="/assets/js/chat.js"></script>
  <script src="/assets/js/drawing.js"></script>
</body>