{{!-- this part is the drawing box with the cursor divs --}}
 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s9 m9 l9 xl9">
          <div id="cursors"></div>    
          <canvas id="paper" width="1200" height="1000"></canvas>
        </div>
        {{!-- chat box --}}
        <div class="input-field col s3 m3 l3 xl3" id="message-container">
          {{!-- <div class="chat-popup" id="message-container"> --}}
                <form class="form-container" id="send-container">
                    <h4>Chat</h4>
                    {{!-- <label for="msg"><b>Message</b></label> --}}
                    <input placeholder="Type message.." id="message-input" name="msg" required></input>
                    <button type="submit" class="btn" id="send-button">Send</button>
                    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                </form>
            {{!-- </div>  --}}
        </div>
      </div>
    </form>
  </div>


{{!--<div id="message-container">
    <form id="send-container">
        <input type="text" name="chat" id="message-input" placeholder="Enter Username Here">
        <button type="submit" id="send-button">Send</button>
    </form>
</div>--}}