<body class="bodyGameWindow">

  <nav>
    {{!-- need to insert the specific room name here --}}
    <div class="nav-wrapper blue lighten-2">
      <a href="#home" id="room-heading" class="brand-logo center white-text header-title"></a>
      <ul class="left hide-on-med-and-down">
        <li><a href="#home"><i class="material-icons">home</i></a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout"><i class="material-icons">exit_to_app</i></a></li>
      </ul>
    </div>
  </nav>

  {{!-- this part is the drawing box with the cursor divs --}}
  <input type="hidden" value={{routename}} id="room">

  <main class="container">
    <div class="row">
      <div class="col s12">
        {{!-- Game Info is hidden while the game is not running --}}
        <div class="row">
          <div class="col m9">
            <div class="row valign-wrapper">
              <div class="input-field col s12">
                <div class="center col s12 m12 l12" id="color-stroke-bar">
                  <button class="btn-floating color-choice btn-small" data-color='#000000' id='black-button'></button>
                  <button class="btn-floating color-choice red btn-small" data-color='#FF0000' id='red-button'></button>
                  <button class="btn-floating color-choice btn-small" data-color='#0000ff' id='blue-button'></button>
                  <button class="btn-floating color-choice btn-small" data-color='#008000' id='green-button'></button>
                  <button class="btn-floating color-choice btn-small" data-color='#ffff00' id='yellow-button'></button>
                  <button class="btn-floating color-choice btn-small" data-color='#ffffff' id='white-button'></button>

                  <button class="btn-floating stroke-choice btn-large" data-stroke='30'></button>
                  <button class="btn-floating stroke-choice " data-stroke='15'></button>
                  <button class="btn-floating stroke-choice btn-small" data-stroke='5'></button>
                </div>
                <canvas class="right" id="paper" width="960" height="500"></canvas>
              </div>
            </div>
          </div>

          {{!-- chat box --}}
          <div class="input-field col m3 center chatWindow">
            <div id="message-container" class="messageContainer">
            </div>
            <form id="send-container">
              <input placeholder="Type message.." id="message-input"></input>
              {{!-- <button type="submit" class="btn" id="send-button button">Send <i class="fa fa-pencil"
                  style="font-size:14px"></i></button> --}}
            </form>
          </div>
        </div>

        {{!-- game button and copy link --}}
        <div class="row valign-wrapper" id="gameArea">
          <div class="col s12 m3 l2 right-align" id="startbtndiv">
            <button id="Game-Start-Button" class="btn">Start Game</button>
          </div>
          <div class="col s12 m3 l2 left-align" id="roundsdiv">
            <p>Nr of rounds</p>
            <input type="number" name="rounds" id="roundsinput" value="3" min="1" max="10">
          </div>
          <div class="input-field col s8 m6">
            <div class="row">
              <div class="col s12 m6 hide pull-m4" id="worddiv">

                <span id="word"></span>
                <span id="current-drawer"></span>
                <span class="scores"></span>
              </div>
              <div class="col s12 m6">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          {{!-- Shareable link copy paste --}}
          <div class="col s12">
            <input type="button" class="btn" value="Copy Url" onclick="Copy();" />
            <textarea id="paste-box" rows="1" cols="30"></textarea>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!-- Modal Trigger -->
  <a id ="modal-activator" class="waves-effect waves-light btn modal-trigger modal-close" href="#modal2">Modal</a>

{{!-- Modal for Game Win --}}
  <div id="modal2" class="modal modal-close">
    <div class="modal-content">
      <span class="scores"></span>
    </div>
    <div class="modal-footer">
    </div>
  </div>

  <!--Footer-->
  <footer class="page-footer blue lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">DrawScape <i class="fa fa-pencil" style="font-size:24px"></i></h5>
          <p class="grey-text text-lighten-4">Draw away with your friends!</p>
        </div>
        <div class="col l5 offset-14 s12">
          <h6 class="white-text">Built With:</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://materializecss.com/" target="_blank">Materialize</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://socket.io/" target="_blank">Socket</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/indyminhas/project2" target="_blank"><i
                  class="fa fa-github" style="font-size:24px"></i></a></li>

          </ul>
        </div>
        <div class="col l2 s12">
          <h6 class="white-text">Created by:</h6>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/domjparker" target="_blank">Dominic
                Parker</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/maria-helbling" target="_blank">Maria
                Helbling</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/MegaGrega" target="_blank">Matthew
                Grega</i></a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/indyminhas" target="_blank">Indy</i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © Copyright 2020 DrawScape
      </div>
    </div>
  </footer>

</body>




<script src="/assets/js/gamewindow.js"></script>
<script src="/assets/js/chat.js"></script>
<script src="/assets/js/drawing.js"></script>