{{!-- this part is the drawing box with the cursor divs --}}
<div id="cursors"></div>    
<canvas id="paper" width="1900" height="1000"></canvas>
<div id="message-container">
    <form id="send-container">
        <input type="text" name="chat" id="message-input" placeholder="Enter Username Here">
        <button type="submit" id="send-button">Send</button>
    </form>
</div>