<body class="bodyIndex">
   <input type="hidden" id="room-number" name="room-number" value={{routename}}>
  <header>
    <nav>
      <div class="nav-wrapper blue lighten-2">
        <a href="#home" class="brand-logo center white-text header-title">DrawScape</a>
        <ul class="left hide-on-med-and-down">
          <li><a href="#home"><i class="material-icons">home</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <br>

    {{!-- login section --}}
    <div class="container">
      <div class="row">
        <div class="col m3 l3"></div>
        <div class="col s12 m6 l6">
          <div class="card indexCard">
            <div class="card-content grey-text text-darken-3">
              <span class="card-title">Log In</span>
              <form id="log-in-container">
                <div class="input-field center">
                  <input id="emailLogInput" type="text" class="validate">
                  <label for="first_name">Email</label>
                </div>
                <div class="input-field center">
                  <input id="passLogInput" type="password" class="validate">
                  <label for="first_name">Password</label>
                </div>
                <div>
                  <p id = "password-box"></p>
                </div>
                <button type= "submit" class="button" id="user-send-button">Go</button>
              </form>
            </div>
          </div>
          {{!-- materialize sign up  --}}
          <div class="card indexCard">
            <div class="card-content grey-text text-darken-3">
              <span class="card-title">Sign Up</span>
              <form id="sign-up-container">


                <div class="input-field center">
                  <input id="userInput" type="text" class="validate">
                  <label for="first_name">Username</label>
                </div>
                <div class="input-field center">
                  <input id="emailInput" type="email" class="validate">
                  <label for="email">Enter Email</label>
                </div>
                <div class="input-field center">
                  <input id="passInput" type="password" class="validate">
                  <label for="password">Create Password</label>
                </div>
                <button type= "submit" class="button" id="user-send-button">Go <i class="fa fa-pencil"
                    style="font-size:14px"></i></button>
              </form>
            </div>
          </div>
        </div>
        <div class="col m3 l3"></div>
      </div>
    </div>
  </main>

</body>

<script src="/assets/js/script.js"></script>