<link rel="stylesheet" href="/assets/css/index.css">
<body class="bodyIndex">
  <input type="hidden" id="room-number" name="room-number" value={{routename}}>
  <header>
    <nav>
      <div class="nav-wrapper blue lighten-2">
        <a href="#home" class="brand-logo center white-text header-title">DrawScape</a>
        <ul class="left hide-on-med-and-down">
          <li><a href="#home"><i class="material-icons">home</i></a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <br>

    {{!-- layover code --}}

    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <!-- SIGN UP form code goes here -->
        <form action="#" class= "pform" id="sign-up-container">
          <h4>Create Account</h4>
          <input id="userInput" type="text" class="validate">
          <label for="first_name">Username</label>
          <input id="emailInput" type="email" class="validate">
          <label for="email">Enter Email</label>
          <input id="passInput" type="password" class="validate">
          <label for="password">Create Password</label>
          <div>
            <p id="signup-error"></p>
          </div>
          <br>
          <button type="submit" class="ghost blue lighten-2" id="user-send-button">Go <i class="fa fa-pencil"
              style="font-size:14px"></i></button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <!-- SIGN IN form code goes here -->
        <form action="#" class= "pform" id="log-in-container">
          <h4>Sign in</h4>
          <input id="emailLogInput" type="text" class="validate">
          <label for="first_name">Email</label>
          <input id="passLogInput" type="text" class="validate">
          <label for="first_name">Password</label>
          <br>
          <p id="password-box"></p>
          <button type="submit" class="ghost blue lighten-2" id="user-send-button">Go <i class="fa fa-pencil"
              style="font-size:14px"></i></button>
        </form>
      </div>
      <div class="overlay-container">
        <!-- The overlay code goes here -->
        <div class="overlay">
          <div class="overlay-panel blue lighten-2 overlay-left">
            <h2>Welcome Back!</h2>
            <br>
            <button class="ghost white" id="signIn"> Sign In</button>
          </div>
          <div class="overlay-panel blue lighten-2 overlay-right">
            <h2>Welcome Drawer!</h2>
            <br>
            <button class="ghost white" id="signUp"> Sign Up</button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <br>
  <br>
  <br>

  {{!-- <pfooter id="sticky-footer" class="py-4">
    <section class="pcontainer">
      <medium class="col-12 black-text center">© 2020 DrawScape</medium>
    </section>
  </pfooter> --}}

  <footer class="page-footer blue lighten-2">
    <div class="pcontainer">
      <div class="row">
        <div class="col-12">
          <medium class="col-12 black-text center">© 2020 DrawScape <i class="fa fa-pencil" style="font-size:24px"></i>
          </medium>
  </footer>


  <script src="/assets/js/script.js"></script>
</body>