
<form id= "sign-up-container">

  <div class="container">
    <label class="uname"><b>Username</b></label>
    <input class="name" placeholder="Enter Username" id="userInput" name="uname" required>
    <input class="name" placeholder="Enter Email" id="emailInput" name="email" required>
    <input class="password" placeholder="Enter Password" id="passInput" name="pass" required>
    <button class="button" id="user-send-button">Go</button>
    <button class="button" class="cancelbtn">Cancel</button>
  </div>
</form>

<form id= "log-in-container">
  <div class="container">
    <label class="uname"><b>Username</b></label>
    <input class="name" placeholder="Enter Email" id="emailLogInput" name="email" required>
    <input class="password" placeholder="Enter Password" id="passLogInput" name="pass" required>
    <button class="button" id="user-send-button">Go</button>
  </div>
</form>

<script src = "/assets/js/script.js"></script>