<div id="username-container">
    <form id="user-send-container">
        <input type="text" name="chat" id="userInput" placeholder="Enter Username Here">
        <button type="submit" id="user-send-button">Send</button>
    </form>
</div>