<h1>Welcome to DIMM</h1>

<form action="action_page.php" method="post">

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>
    <button type="submit">GO</button>
  </div>
  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
  </div>
</form>

{{!-- this part is the drawing box with the cursor divs --}}
<div id="cursors"></div>    
<canvas id="paper" width="1900" height="1000"></canvas> 