
 <div class="header center blue lighten-2" id="myHeader">
    <h2>DrawScape</h2>
  </div>
<br>
<br>
<br>
<form id= "user-send-container">

  <div class="container">
    <label class="uname"><b>Username</b></label>
    <input class="name" placeholder="Enter Username" id="userInput" name="uname" required>
    <button class="button" id="user-send-button">Go</button>
    <button class="button" class="cancelbtn">Cancel</button>
  </div>
</form>

<script src = "/assets/js/script.js"></script>