<div class = "container">
    <h4>Rooms</h4>
</div>
<form id="room-creation-container" class="col s12">
    <div class="container">
      <h4>New Room</h4>
      <div class="row">
        <div class="input-field col s6 center">
          <input id="newRoom" type="text" class="validate">
          <label for="newRoom">Create New Room</label>
        </div>
      </div>
      <button class="button" id="user-send-button">Go <i class="fa fa-pencil" style="font-size:14px"></i></button>
    </div>
  </form>
  
  <script src="/assets/js/user.js"></script>