main {
  flex: 10 auto;
}

.header-title {
  /* font-family: 'Audiowide', cursive;
font-family: 'Beth Ellen', cursive;
font-family: 'Galada', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Gugi', cursive;
font-family: 'Lobster', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Oleo Script', cursive; */
  font-family: "Rock Salt", cursive;
  /* font-family: 'Sarina', cursive; */
  /* font-family: 'Shrikhand', cursive;  */
  /* font-family: 'Sonsie One', cursive; */
}

/* Set a style for all buttons */
.btn {
  font-family: "Rock Salt", cursive;
  background-color: lightskyblue !important;
  color: black;
  padding: 14px 20px;
  margin: 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* FOOTER */

<<<<<<< HEAD
.pcontainer{
  font-family: 'Rock Salt', cursive;
  padding: .5rem;
=======
.pcontainer {
  font-family: "Rock Salt", cursive;
>>>>>>> dev
}

.copyright {
  padding-left: 0.5rem;
}
