/* Set a style for all buttons */
  .button {
    background-color: lightskyblue;
    color: black;
    padding: 14px 20px;
    margin: 0;
    border: none;
    cursor: pointer;
    width: auto;
  }
  
/* Add a hover effect for buttons */
  .button:hover {
    opacity: 0.8;
  }
  
/* Add padding to containers */
  .container {
    padding: 16px;
  }

/* Canvas */

.html, body {
    width:  auto;
    height: auto;
    margin: 0;
  }
#paper {
  background: white;
  border: black;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 100%;
  display: block;
}

/* CHAT BOX */

/* hr {
  border: 1px solid ;
  margin-bottom: 25px;
} */

.testing{

  display:block;
  width:auto;
  height:400px;
  background-color:white;
  color: black;
  overflow:scroll;

}





